<section class="home">
  <div class="container home__container">
    <header class="home__header">
      <h1 class="home__title">Hello Evano 👋🏼,</h1>
    </header>
    <div class="home__content mt-50">
      <div class="card customers">
        <div class="card__header">
          <h2 class="card__headline">All Customers</h2>
          <p class="card__status">Active Members</p>
          <div class="search card__search">
            <figure class="search__icon-figure">
              <svg class="custom-icon search__icon">
                <use xlink:href="@@sprites_common__search"></use>
              </svg>
            </figure>
            <label class="visually-hidden" for="Search">Search</label>
            <input class="search__input" type="search" id="Search" placeholder="Search"/>
          </div>
        </div>
        @@include('partials/main/partials/table.html', { "additional-class": "card__table" })
      </div>
    </div>
  </div>
</section>
