<div class="customers__table-cell customers__table-cell--name" role="cell">Customer Name</div>
<div class="customers__table-cell customers__table-cell--name" role="cell">Company</div>
<div class="customers__table-cell customers__table-cell--name" role="cell">Phone Number</div>
<div class="customers__table-cell customers__table-cell--name" role="cell">Email</div>
<div class="customers__table-cell customers__table-cell--name" role="cell">Country</div>
<div class="customers__table-cell customers__table-cell--name" role="cell">Status</div>