<div class="customers__table @@additional-class" role="table">
  <div class="customers__table-header" role="rowgroup">
    <div class="customers__table-row" role="row">
      <div class="customers__table-cell customers__table-cell--header-name" role="columnheader">Customer Name</div>
      <div class="customers__table-cell customers__table-cell--header-name" role="columnheader">Company</div>
      <div class="customers__table-cell customers__table-cell--header-name" role="columnheader">Phone Number</div>
      <div class="customers__table-cell customers__table-cell--header-name" role="columnheader">Email</div>
      <div class="customers__table-cell customers__table-cell--header-name" role="columnheader">Country</div>
      <div class="customers__table-cell customers__table-cell--header-name" role="columnheader">Status</div>
    </div>
  </div>
  <div class="customers__table-body" role="rowgroup">
    <div class="customers__table-row" role="row">
      @@include('partials/main/partials/table-header.html')
      <div class="customers__table-cell customers__table-cell--value" role="cell">Jane Cooper</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">Microsoft</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">(225) 555-0118</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">jane@microsoft.com</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">United States</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">
        <span class="badge badge--active">Active</span>
      </div>
    </div>
    <div class="customers__table-row" role="row">
      @@include('partials/main/partials/table-header.html')
      <div class="customers__table-cell customers__table-cell--value" role="cell">Floyd Miles</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">Yahoo</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">(205) 555-0100</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">floyd@yahoo.com</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">Kiribati</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">
        <span class="badge badge--inactive">Inactive</span>
      </div>
    </div>
    <div class="customers__table-row" role="row">
      @@include('partials/main/partials/table-header.html')
      <div class="customers__table-cell customers__table-cell--value" role="cell">Ronald Richards</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">Adobe</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">(302) 555-0107</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">ronald@adobe.com</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">Israel</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">
        <span class="badge badge--inactive">Inactive</span>
      </div>
    </div>
    <div class="customers__table-row" role="row">
      @@include('partials/main/partials/table-header.html')
      <div class="customers__table-cell customers__table-cell--value" role="cell">Marvin McKinney</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">Tesla</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">(252) 555-0126</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">marvin@tesla.com</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">Iran</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">
        <span class="badge badge--active">Active</span>
      </div>
    </div>
    <div class="customers__table-row" role="row">
      @@include('partials/main/partials/table-header.html')
      <div class="customers__table-cell customers__table-cell--value" role="cell">Jerome Bell</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">Google</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">(629) 555-0129</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">jerome@google.com</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">Réunion</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">
        <span class="badge badge--active">Active</span>
      </div>
    </div>
    <div class="customers__table-row" role="row">
      @@include('partials/main/partials/table-header.html')
      <div class="customers__table-cell customers__table-cell--value" role="cell">Kathryn Murphy</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">Microsoft</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">(406) 555-0120</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">kathryn@microsoft.com</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">Curaçao</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">
        <span class="badge badge--active">Active</span>
      </div>
    </div>
    <div class="customers__table-row" role="row">
      @@include('partials/main/partials/table-header.html')
      <div class="customers__table-cell customers__table-cell--value" role="cell">Jacob Jones</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">Yahoo</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">(208) 555-0112</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">jacob@yahoo.com</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">Brazil</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">
        <span class="badge badge--active">Active</span>
      </div>
    </div>

    <div class="customers__table-row" role="row">
      @@include('partials/main/partials/table-header.html')
      <div class="customers__table-cell customers__table-cell--value" role="cell">Kristin Watson</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">Facebook</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">(704) 555-0127</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">kristin@facebook.com</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">Åland Islands</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">
        <span class="badge badge--inactive">Inactive</span>
      </div>
    </div>

    <div class="customers__table-row" role="row">
      @@include('partials/main/partials/table-header.html')
      <div class="customers__table-cell customers__table-cell--value" title="Long Customer Name Test Data" role="cell">Long Customer Name Test Data</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">Company name</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">(999) 999-9999</div>
      <div class="customers__table-cell customers__table-cell--value" title="very-long-email-test@facebook.com" role="cell">very-long-email-test@facebook.com</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">Country name</div>
      <div class="customers__table-cell customers__table-cell--value" role="cell">
        <span class="badge badge--inactive">Inactive</span>
      </div>
    </div>
  </div>
</div>