@use 'sass:color';

// stylelint-disable scss/dollar-variable-empty-line-after, max-nesting-depth
.pagination {
  $_this: &;
  display: flex;
  align-items: center;
  column-gap: 12px;
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 24px;
    transition: background-color 0.225s ease;
    border: 1px solid color(gray, 100);
    border-radius: 4px;
    background-color: color(gray, 150);
    color: color(gray, 500);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.12px;
    cursor: pointer;
    &:not(#{$_this}__link--active):hover {
      background-color: color.change(color(gray, 150), $blackness: 10%);
    }
    &:not(#{$_this}__link--active):active {
      background-color: color.change(color(gray, 150), $blackness: 30%);
    }
    &:focus-visible {
      outline: none;
      box-shadow: 0 0 2px 2px rgba(226, 236, 249, 0.85);
    }
    &--text {
      width: initial;
      border: 0 none;
      background-color: transparent;
    }
    &--active {
      border-color: color(violet, 400);
      background-color: color(violet, 400);
      color: white;
      cursor: initial;
    }
  }
}
// stylelint-enable scss/dollar-variable-empty-line-after, max-nesting-depth
