<nav class="@@additional-class" aria-label="Page navigation">
  <ul class="pagination">
    <li class="pagination__item">
      <a class="pagination__link" href="javascript:" aria-label="Previous">
        <span aria-hidden="true"><</span>
      </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link pagination__link--active" href="javascript:">1</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="javascript:">2</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="javascript:">3</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="javascript:">4</a>
    </li>
    <li class="pagination__item">
      <span class="pagination__link pagination__link--text">...</span>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="javascript:">40</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="javascript:" aria-label="Next">
        <span aria-hidden="true">></span>
      </a>
    </li>
  </ul>
</nav>
