@use 'sass:math';

.card {
  padding: 12px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 10px 60px rgba(226, 236, 249, 0.5);
  @include for-tablet-up {
    padding: 16px;
    border-radius: 12px;
  }
  @include for-laptop-up {
    padding: 20px;
    border-radius: 16px;
  }
  @include for-desktop-up {
    padding: 24px;
    border-radius: 20px;
  }
  @include for-wide-desktop-up {
    padding: 30px 40px 40px;
    border-radius: 30px;
  }
  &__header {
    @include for-tablet-up {
      display: grid;
      grid-template-areas:
        'headline search'
        'status search';
    }
  }
  &__headline {
    color: black;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.22px;
    line-height: math.div(33, 22);
    @include for-tablet-up {
      grid-area: headline;
    }
  }
  &__status {
    margin-top: 7px;
    color: color(green, 400);
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: math.div(21, 14);
    @include for-tablet-up {
      grid-area: status;
    }
  }
  &__search {
    margin-top: 12px;
    @include for-tablet-up {
      grid-area: search;
      align-self: center;
      width: 100%;
      max-width: 216px;
      margin-top: initial;
      justify-self: end;
    }
    @include for-desktop-up {
      margin-right: 13px;
    }
  }
  &__table {
    margin-top: 25px;
  }
  &__footer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    @include for-tablet-up {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__footer-info {
    color: color(gray, 300);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
    line-height: math.div(21, 14);
  }
  &__pagination {
    margin-top: 12px;
    @include for-tablet-up {
      margin-top: initial;
    }
  }
}
