<nav class="navbar @@additional-class">
  <ul class="navbar__nav">
    <li class="navbar__item">
      <a class="navbar__link" href="javascript:">
        <span class="navbar__icon-container">
          <svg class="custom-icon navbar__icon">
            <use xlink:href="@@sprites_common__dashboard"></use>
          </svg>
        </span>
        Dashboard
      </a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="javascript:">
        <span class="navbar__icon-container">
          <svg class="custom-icon navbar__icon">
            <use xlink:href="@@sprites_common__product"></use>
          </svg>
        </span>
        Product
      </a>
    </li>
    <li class="navbar__item">
      <span class="navbar__link navbar__link--active">
        <span class="navbar__icon-container">
          <svg class="custom-icon navbar__icon">
            <use xlink:href="@@sprites_common__customers"></use>
          </svg>
        </span>
        Customers
        <span class="navbar__icon-arrow-container">
          <svg class="custom-icon navbar__arrow-icon">
            <use xlink:href="@@sprites_common__chevron-right"></use>
          </svg>
        </span>
      </span>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="javascript:">
        <span class="navbar__icon-container">
          <svg class="custom-icon navbar__icon">
            <use xlink:href="@@sprites_common__income"></use>
          </svg>
        </span>
        Income
        <span class="navbar__icon-arrow-container">
          <svg class="custom-icon navbar__arrow-icon">
            <use xlink:href="@@sprites_common__chevron-right"></use>
          </svg>
        </span>
      </a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="javascript:">
        <span class="navbar__icon-container">
          <svg class="custom-icon navbar__icon">
            <use xlink:href="@@sprites_common__promote"></use>
          </svg>
        </span>
        Promote
        <span class="navbar__icon-arrow-container">
          <svg class="custom-icon navbar__arrow-icon">
            <use xlink:href="@@sprites_common__chevron-right"></use>
          </svg>
        </span>
      </a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="javascript:">
        <span class="navbar__icon-container">
          <svg class="custom-icon navbar__icon">
            <use xlink:href="@@sprites_common__help"></use>
          </svg>
        </span>
        Help
        <span class="navbar__icon-arrow-container">
          <svg class="custom-icon navbar__arrow-icon">
            <use xlink:href="@@sprites_common__chevron-right"></use>
          </svg>
        </span>
      </a>
    </li>
  </ul>
</nav>
