.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
  &--active {
    border-color: color(green, 500);
    background-color: rgba(color(green, 400), 0.38);
    color: color(green, 600);
  }
  &--inactive {
    border-color: color(red, 500);
    background-color: color(red, 400);
    color: color(red, 500);
  }
}
