@use 'sass:math';

.home {
  &__title {
    color: black;
    font-size: 24px;
    font-weight: 500;
    line-height: math.div(36, 24);
  }
  &__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
